.contents {
  padding: 1.6rem;
  @media (--medium-screen-upper) {
    padding: 2.4rem;
  }
  @media (--large-screen-upper) {
    padding: 4.8rem;
  }
}

header {
  margin-bottom: 3.2rem;
  @media (--medium-screen-upper) {
    margin-bottom: 4.8rem;
  }
  @media (--large-screen-upper) {
    margin-bottom: 9.6rem;
  }
}

h1 {
  font-size: 1.6rem;
}

p {
  max-width: 80rem;
  font-size: 1.6rem;
  line-height: 2;

  & + & {
    margin-top: 2em;
  }

  &:nth-child(3n + 1) {
    color: var(--color-orange);
  }

  &:nth-child(3n + 2) {
    color: var(--color-green);
  }

  &:nth-child(3n) {
    color: var(--color-red);
  }
}
